<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    form {
      font-size: 1.5rem;
    }

    input,
    select, textarea {
      font-size: 1.4rem;
    }

    button {
      padding: 0.5rem 1.2rem;
      font-size: 1.2rem;
      font-weight: bold;
      cursor: pointer;
      color: orangered;
    }

    .delete {
      background-color: red;
      color: white;
      padding: 0.5rem 1.6rem;
      border-radius: 1.5rem;
      font-size: 1.2rem;
      text-decoration: none;
    }

    li {
      margin: 1.7rem 0;
    }
    #desc{
      display: flex;
      align-items: center;
    }

    #output-container{
      border: 1px solid rgba(0, 128, 128, 0.419);
      width: 40%;
      position: absolute;
      right: 10%;
      top: 10%;
    
      display: flex;
      flex-direction: column;
      justify-content: center;      

      padding: 1rem 1rem;
    }
    #output-container > h1{
      text-align: center;
    }
  </style>
</head>

<body>
  <h1>Show File Path with extension using Form</h1>
  <br><br>

  <form action="/create" method="post">
    File Name: <input type="text" name="fileName">
    <br> <br>
    <div id="desc">
      Description: <textarea type="text" name="fileDesc" rows="5" cols="33"></textarea>
    </div>

    <!-- <select name="selectExtension" id="">
      <option value=".txt">text file</option>
      <option value=".md">markdown file</option>
      <option value=".exe">executable</option>
      <option value=".pdf">pdf</option>
      <option value=".xsls">excel file</option>
    </select> -->

    <br>
    <button type="submit">Create</button>
  </form>

  <br><br>
  <div style="border: 1px solid teal; width: fit-content; padding:1rem 3rem;">
    <h1>Content of <span style="color: chocolate;">"Upload"</span> Folder : </h1>

    <% files.forEach((fileName)=>{ %>
      <li style="font-size: 1.3rem;">
        <a href="/<%=fileName%>">
          <%= fileName %>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="/delete/<%=fileName%>" class="delete">
          Delete
        </a>
      </li>
      <% }) %>
  </div>
  <br>

  <div id="output-container">
    <h1>Output Container</h1>
    <h2>Currently File Opened : <%= fileName %> </h2>    
    <h2>File Content :</h2>
    <% if(fileContent){ %>
      <form action="/update/<%=fileName%>" method="post" >
        <textarea name="updatedData" id="" cols="50" rows="10"><%= fileContent %>
        </textarea>

        <br><br>
        <button type="submit">Update Content</button>

      </form>
        <% } else { %>
          <h1>File Content - Not Available !</h1>
          <% } %>
  </div>

</body>

</html>