<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
  </style>
</head>

<body>
  <h1>Show File Path with extension using Form</h1>
  <br><br>

  <form action="/create" method="post">
    File Name: <input type="text" name="fileName">
    <br> <br>
    <div id="desc">
      Description: <textarea type="text" name="fileDesc" rows="5" cols="33"></textarea>
    </div>

    <!-- <select name="selectExtension" id="">
      <option value=".txt">text file</option>
      <option value=".md">markdown file</option>
      <option value=".exe">executable</option>
      <option value=".pdf">pdf</option>
      <option value=".xsls">excel file</option>
    </select> -->

    <br>
    <button type="submit">Create</button>
  </form>
  <br>
  <h1>Content of <span style="color: chocolate;">"Upload"</span> Folder : </h1>
  <div id="showDirList">
    <ul>
      <% files.forEach((fileName)=>{ %>
        <li>
          <a href="/<%=fileName%>">
            <%= fileName %>
          </a>
          <a href="/delete/<%=fileName%>" class="delete">
            ❌
          </a>
        </li>
        <% }) %>
    </ul>
  </div>
  <br>

  <div id="output-container">
    <h1>Output Container</h1>
    <h2>Currently File Opened : <%= fileName %>
    </h2>
    <h2>File Content :</h2>
    <% if(fileContent){ %>
      <form action="/update/<%=fileName%>" method="post">
        <textarea name="updatedData" id="" cols="50" rows="10"><%= fileContent %>
        </textarea>

        <br><br>
        <button type="submit">Update Content</button>

      </form>
      <% } else { %>
        <h1>File Content - Not Available !</h1>
        <% } %>
  </div>

</body>

</html>