<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <style>
    form {
      font-size: 1.5rem;
    }

    input,
    select {
      font-size: 1.4rem;
    }

    button {
      padding: 0.5rem 1.2rem;
      font-size: 1.2rem;
      font-weight: bold;
    }
    .delete{
      background-color: red;
      color: white;
      padding: 0.5rem 1.6rem;
      border-radius: 1.5rem;
      font-size: 1.2rem;
      text-decoration: none;
    }
    li{
      margin: 2rem 0;
    }
  </style>
</head>

<body>
  <h1>Show File Path with extension using Form</h1>
  <br><br>

  <form action="/create" method="post">
    File Name: <input type="text" name="fileName">

    <select name="selectExtension" id="">
      <option value=".txt">text file</option>
      <option value=".md">markdown file</option>
      <option value=".exe">executable</option>
      <option value=".pdf">pdf</option>
      <option value=".xsls">excel file</option>
    </select>

    <br><br>
    <button type="submit">Create</button>
  </form>

  <br><br>
  <div style="border: 1px solid teal; width: fit-content; padding:1rem 3rem;">
    <h1>Content of <span style="color: chocolate;">"Upload"</span> Folder : </h1>

    <% files.forEach((fileName, i)=>{ %>
      <li style="font-size: 1.3rem;">
        <a href="/<%=fileName%>">
          <%= fileName %>
        </a>&nbsp;&nbsp;&nbsp;
        <a href="/delete/<%=fileName%>" class="delete">
          Delete
        </a>
        <textarea name="" id="" cols="30" rows="4"><%= fileContents[i] %>
        </textarea>
      </li>
      <% }) %>

  </div>

</body>

</html>