<%- include("partials/header") %>
    <%- include("partials/nav") %>

        <div id="main-container" style="height: 80vh;">

            <div class="mx-5 bg-dark text-center text-white p-5 mt-5 ">
                <h1 class="text-center my-5 ">Welcome to <%= title %>
                </h1>
                <p class="fs-5 ">Welcome to <%= title %>, your gateway to a world of literary adventures! Whether you're
                        searching for the latest
                        bestseller, a timeless classic, or a hidden gem, our carefully curated collection has something
                        for
                        every reader. Dive
                        in and discover your next great read today.</p>
                <button class="mycard-button btn px-5 py-3 fs-5 mt-5">Explore More</button>
            </div>
        </div>

        <%- include("partials/footer") %>